* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


@media (max-width: 425px) {
    body {
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    }
    
    header {
        width: 100%;
        height: 30vh;
        /* background-color: #ebe1ff; */
        display: flex;
        flex-direction: column;
    }
    .logo-name {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 50%;
        padding-top: 0.625rem;
    }
    .logo {
        font-size: 5rem;
        color: #ebe1ff;
    }
    h1 {
        color: #ebe1ff
    }
    header nav {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
    }
    header nav ul {
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
    header nav ul li {
        font-size: 1.25rem;
        color: #ebe1ff;
    }
    li:hover {
        color: #dae54a;
        transition: 1s;
    }
    a {
        color: #ebe1ff;
        text-decoration: none;
    }
    main {
        height: 100%;
    }
    .section-one {
        width: 100%;
        height: 100%;
    }
    .section-one h2 {
        color: #ebe1ff;
        display: flex;
        justify-content: center;
        padding-top: 0.625rem;
        text-transform: uppercase;
        padding-bottom: 1.375rem;
    }
    .games {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .img {
        width: 18rem;
        height: 19.25rem;
        margin-bottom: 1.25rem;
        border-radius: 0.3125rem;
    }
    
    .img-5 {
        width: 18rem;
        height: 19.25rem;
        border-radius: 0.3125rem;
    }
    .games img:hover {
        width: 20rem;
        height: 20.625rem;
        transition: 1s;
    }
    .section-two {
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .section-two h2 {
        color: #292d28;
        display: flex;
        justify-content: center;
        margin-top: 4.375rem;
        text-transform: uppercase;
        padding-bottom: 1.375rem;
    }
    .categories {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 1.25rem 1.25rem;
        align-items: center;
        justify-items: center;
        
    }
    .btn {
        width: 90%;
        height: 100%;
        border: none;
        border-radius: 0.3125rem;
        font-size: 1.3125rem;
        color: #292d28;
        background-color: #99d7da;
        margin: 1.25rem 0 1.25rem 0;
        text-transform: capitalize;
    }
    .btn:hover {
        background-color: transparent;
        border: 0.125rem solid #aaaa79;;
        transition: 1s;
    }
    .section-three {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 4.375rem;
    }
    .section-three h2 {
        color: #292d28;
        padding-bottom: 1.375rem;
        text-transform: uppercase;
    }
    form {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    label input {
        width: 18rem;
        height: 2.5rem;
        margin-bottom: 1.5625rem;
        padding-left: 0.625rem;
        border: 0.125rem solid #ebe1ff;
        border-radius: 0.625rem;
        background-color: transparent;
        outline: none;
        transition: border 1s;
    }
    #email::placeholder {
        color: white;
    }
    #text::placeholder {
        color: white;
    }
    #text-area::placeholder {
        color: white;
    }
    label input:focus {
        border: 0.125rem solid #f4575c;
    }
    
    #text-area {
        padding-top: 0.3125rem;
        width: 18rem;
        height: 9.375rem;
        margin-bottom: 1.5625rem;
        padding-left: 0.625rem;
        border: 0.125rem solid #ebe1ff;
        border-radius: 0.625rem;
        background-color: transparent;
        outline: none;
        resize: none;
        transition: border 1s;
    }
    #text-area:focus {
        border: 0.125rem solid #f4575c;
    }
    form button {
        width: 18rem;
        height: 2.5rem;
        border: none;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        background-color: #e040aa;
        color: white;
        cursor: pointer;
    }
    form button:active {
        background-color: #ca53a2;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 4.375rem;
        padding-bottom: 1.375rem;
    }
    .icons {
        width: 18rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.1875rem;
        padding-bottom: 1.375rem;
    }
    .icon-1 {
        margin-right: 0.9375rem;
        transition: transform 1s;
    }
    .icon-1:hover {
        transform: rotate(35deg);
    }
    .icon-2 {
        margin-left: 0.9375rem;
        transition: transform 1s;
    }
    .icon-2:hover {
        transform: rotate(35deg);
    }
}